<hr>

<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">&copy; Migrant Med 2017.</p>
        <a href="/terms"><p class="text-center"> By registering you agree to the Migrant Med Terms of Service </p></a>
    </div>
</footer>