<nav class="navbar navbar-default">
    <div class="navbar-header">
        <img src ="../assets/images/mmlogoblack.png" alt="">
    </div>
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
           <h3>
               <nav class="pull-right">
                   <ul class="nav navbar-nav">
                       <li><a href="/">Home</a></li>
                       <li class="signup-link"><a href="/registration">Sign-up</a></li>
                   </ul>
               </nav>
           </h3>
        </div><!--/.nav-collapse -->
    </div>
</nav>
