<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="../assets/css/homepage.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <!--Font Awesome-->
    <script src="https://use.fontawesome.com/db6fbba628.js"></script>
    <title><%= title %></title>
</head>
<body>

<% include ./partials/header.ejs %>

<!-- Code below this line DO NOT DELETE THIS COMMENT-->

<body id="page-top" class="index">

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text text-center">
            <div class="intro-heading">Nurse Staffing Revolutionized</div>
            <div class="intro-lead-in"><h2 class="sub-heading">Get assignments faster with less hassle and higher rates</h2></div>
                <a href="/registration" class="page-scroll btn btn-xl">SIGN UP NOW</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">At Migrant Med we believe nurses should be able to:</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Negotiate Your Pay</h4>
                <p class="text-muted">Virtually name your rate and negotiate directly with hiring managers to earn higher wages.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar-check-o fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Pick Your Shift</h4>
                <p class="text-muted">Get more freedom and flexibility <br> to chose and confirm shifts.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Select Your Location</h4>
                <p class="text-muted">Make the money you want and deserve <br> at the locations you desire with the help <br>of a real time Shift Needs Map.</p>
            </div>
        </div>
    </div>
</section>



<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted"><!-- Lorem ipsum dolor sit amet consectetur. --></h3>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="team-member">
                <img src="assets/images/team/gigi.jpg" class="img-responsive img-circle" alt=""  width="295" height="295">
                <h4>Gigi Wilborn</h4>
                <p class="text-muted">Founder & CEO<br>Registered Nurse <br>Visual Designer<br>Front-End Web Developer</p>
                <ul class="list-inline social-buttons">
                    <li><a href="https://www.linkedin.com/in/gerenda-wilborn-b8aa7953/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="assets/images/team/reggie.jpg" class="img-responsive img-circle" alt="" width="308" height="308">
                    <h4>Reggie Wilborn</h4>
                    <p class="text-muted">Co-Founder & COO<br>Educator<br>UX/UI Web Designer<br>Front-End Web Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.linkedin.com/in/reginald-wilborn-jr-a5a65512?authType=NAME_SEARCH&authToken=i7hC&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A43410598%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1486733586575%2Ctas%3Aregi" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">A Timeline of Migrant Med's Humble Beginnings.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/images/about/bulb1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2015</h4>
                                <h4 class="subheading">An Idea Emerges</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We recognized a gap existed between the wages nurses were being paid and the amount nursing agencies contracted hospitals for their services. We believe in eliminating that gap to allow nurses the ability to negotiate directly with hospital managers for better wages for them and their families.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/images/about/idea1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2016</h4>
                                <h4 class="subheading">A Marketplace is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Migrant Med's concept was entered into a <br>Hack-a-thon where the company idea and <br> prototype received 2nd placed and the attention of potential investors. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/images/about/pc1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2016</h4>
                                <h4 class="subheading">Customer Discovery</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Continued customer discovery was conducted over several months with numerous hospitals throughout the US.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="assets/images/about/med1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>June 2017</h4>
                                <h4 class="subheading">Phase One: Registration Launch</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Migrant Med launched to gage interest of potiental users. Initially, we are looking to recruit nurses from all specialties that wish to augment their budget with Per Diem on demand assignments. Later we look to expand to other allied health fields. </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sign Up</h2>
                <h3 class="section-subheading text-muted"> Registration only takes a few quick clicks. </h3>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-lg-12 text-center">
            <div id="success"></div>
            <!--      <form action=""> -->

            <a href="https://migrantmed.wufoo.com/forms/r1qs6nel0neonsk/"></a>
            <a href="/registration" class="page-scroll btn btn-xl">SIGN UP NOW</a>
        </div>
    </div>
</section>

<!-- All code needs to stop at this line unless adding javascript DO NOT DELETE THIS COMMENT -->

<% include ./partials/footer.ejs %>